/** ADD YOUR AWESOME CODES HERE **/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
.why-text {
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	opacity: 0.9;
}

.button-group button {
	transition-duration: 0.5s;
}

.button-group button:hover {
	background-color: #805a3f; /* Green */
	color: white;
}
.button-group button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(10px);
}
.oasis-top {
	background-color: #db4437;
	font-size: 2rem;
	text-align: center;
	width: auto;
	margin-top: 3rem;
}
.oasis-top .flag {
	width: 5rem;
}
.oasis-top h1 {
	font-size: 2rem;
}
